<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
  <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.css">
  <title>{% block title %} {% endblock %}</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/index">Acta Diurna</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {% if active == 'home'%} active {%endif%}">
          <a class="nav-link" href="/index">Home{% if active == 'home' %}<span class="sr-only">(current)</span>{%endif%}</a>
        </li>
        <li class="nav-item {% if active == 'articles'%} active {% endif %}">
          <a class="nav-link" href="/articles">Articles{% if active == 'articles' %}<span class="sr-only">(current)</span>{% endif %}</a>
        </li>
        <li class="nav-item {% if active == 'team'%} active {% endif %}">
          <a class="nav-link" href="/team">Team {%if active == 'team'%}<span class="sr-only">(current)</span>{%endif%}</a>
        </li>
        <li class="nav-item {% if active == 'about'%} active {% endif %}">
          <a class="nav-link" href="/about">About {%if active == 'about'%}<span class="sr-only">(current)</span>{%endif%}</a>
        </li>
      </ul>
      <ul>
        <li class="nav navbar-nav navbar-right {% if active == 'login'%} active {% endif %}">
          <a class="nav-link" href="/login">Login {%if active == 'login'%}<span class="sr-only">(current)</span>{%endif%}</a>
        </li>
        <li class="nav navbar-nav navbar-right {% if active == 'register'%} active {% endif %}">
          <a class="nav-link" href="/register">Register {%if active == 'register'%}<span class="sr-only">(current)</span>{%endif%}</a>
        </li>
      </ul>
    </div>
  </nav>
  <br>
  <div class="container">
    {% include 'includes/_messages.html' %}
    {% block content %}
  <!-- This will be dynamic content depending on the page -->
    {% endblock %}
</div>
  <br>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</body>

</html>
